
# Operating Systems #
#####################

# macOS #
#########
# General
.DS_Store
.AppleDouble
.LSOverride

###########
# Software 
###########
.vscode/
__pycache__/
*.log
*.aux
*.out
.RData
.RStudio
.Rhistory
.venv
uv.lock
